h1 {
    color: rgb(155, 10, 155);
    background-color: thistle;
}

h2 {
    color: rgb(155, 10, 155);
    background-color: azure;
}

h3 {
    color: rgb(155, 10, 155);
    background-color: aliceblue;
}

table {
    background-color: rgb(181, 218, 253);
    border-style: dashed;
    border-color: rgb(113, 0, 128);
}

td {
    border-style: solid;
    border-color: rgb(113, 0, 128);
    background-color: plum;
}

ul {
    list-style-type: square;
    font-style: oblique;
    color: rgb(87, 81, 87);
}

button {
    background-color: rgb(155, 10, 155);
}

footer {
    padding: 5%;
}